@model TeploBalanceKotelCore.Data.VarTverdToplivo
<!DOCTYPE html>
<html>
<head>
    @* <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@
</head>
<body>
    
    @using (Html.BeginForm("DataInputTverd", "Home", FormMethod.Post))
    {
        @* <div class="form-group">
            @Html.LabelFor(model => model.VarTverd_Toplivo_ID, "Выберите вариант исходных данных", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("VarTverd_Toplivo_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VarTverd_Toplivo_ID, "", new { @class = "text-danger" })
            </div>
        </div> *@
        
        <h2>
           Твердое топливо
        </h2>
        
        <div class="container" >
            
            <h2>Исходные данные</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование показателя, ед. изм.</th>
                            <th>Величина</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Температура питательной воды, °C</td>
                            <td>@Html.TextBox("DataInputTverd.TempPitWat", (double)(ViewBag.DataInputTverd.TempPitWat), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Температура перегретого пара, °C</td>
                            <td>@Html.TextBox("DataInputTverd.TempHeatWat", (double)(ViewBag.DataInputTverd.TempHeatWat), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Давление внутри барабана, Па</td>
                            <td>@Html.TextBox("DataInputTverd.Pressure", (double)(ViewBag.DataInputTverd.Pressure), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Выход пара, кг/с</td>
                            <td>@Html.TextBox("DataInputTverd.ParVyh", (double)(ViewBag.DataInputTverd.ParVyh), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Расход воды на продувку котла, кг/с</td>
                            <td>@Html.TextBox("DataInputTverd.RashWat", (double)(ViewBag.DataInputTverd.RashWat), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Температура рабочего топлива, °С</td>
                            <td>@Html.TextBox("DataInputTverd.TempRabT", (double)(ViewBag.DataInputTverd.TempRabT), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание водорода H, рабочая масса, %</td>
                            <td>@Html.TextBox("DataInputTverd.SodH", (double)(ViewBag.DataInputTverd.SodH), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание углерода C, рабочая масса, %</td>
                            <td>@Html.TextBox("DataInputTverd.SodC", (double)(ViewBag.DataInputTverd.SodC), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание кислорода O, рабочая масса, %</td>
                            <td>@Html.TextBox("DataInputTverd.SodO", (double)(ViewBag.DataInputTverd.SodO), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание серы S, рабочая масса, %</td>
                            <td>@Html.TextBox("DataInputTverd.SodS", (double)(ViewBag.DataInputTverd.SodS), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание водяных паров, рабочая масса, %</td>
                            <td>@Html.TextBox("DataInputTverd.SodWP", (double)(ViewBag.DataInputTverd.SodWP), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        @* <tr>
                            <td>Содержание азота N, рабочая масса, %</td>
                            <td>@Html.TextBox("DataInputTverd.SodN", (double)(ViewBag.DataInputTverd.SodN), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr> *@
                        @* <tr>
                            <td>Содержание CO, %</td>
                            <td>@Html.TextBox("DataInputZhidk.SodCO", (double)(ViewBag.DataInput.SodCO), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание CO2, %</td>
                            <td>@Html.TextBox("DataInputZhidk.SodCO2", (double)(ViewBag.DataInput.SodCO2), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание N2, %</td>
                            <td>@Html.TextBox("DataInputZhidk.SodN2", (double)(ViewBag.DataInput.SodN2), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание O2, %</td>
                            <td>@Html.TextBox("DataInputZhidk.SodO2", (double)(ViewBag.DataInput.SodO2), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание H2S, %</td>
                            <td>@Html.TextBox("DataInputZhidk.SodH2S", (double)(ViewBag.DataInput.SodH2S), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Содержание H2, %</td>
                            <td>@Html.TextBox("DataInputZhidk.SodH2", (double)(ViewBag.DataInput.SodH2), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr> *@
                        <tr>
                            <td>Коэффициент избытка воздуха</td>
                            <td>@Html.TextBox("DataInputTverd.Alpha", (double)(ViewBag.DataInputTverd.Alpha), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Температура воздуха, °C</td>
                            <td>@Html.TextBox("DataInputTverd.TempVozd", (double)(ViewBag.DataInputTverd.TempVozd), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Температура уходящих газов, °C </td>
                            <td>@Html.TextBox("DataInputTverd.TempOut", (double)(ViewBag.DataInputTverd.TempOut), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Потери тепла от химической неполноты сгорания топлива, %</td>
                            <td>@Html.TextBox("DataInputTverd.QChem", (double)(ViewBag.DataInputTverd.QChem), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Потери тепла от механической неполноты сгорания топлива, % </td>
                            <td>@Html.TextBox("DataInputTverd.QMech", (double)(ViewBag.DataInputTverd.QMech), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>
                        <tr>
                            <td>Потери тепла от наружного охлаждения, % </td>
                            <td>@Html.TextBox("DataInputTverd.QCold", (double)(ViewBag.DataInputTverd.QCold), htmlAttributes: new { type = "text", style = " width:100px; " })</td>
                        </tr>







                    </tbody>
                </table>
            </div>
        </div>

        <p>
        </p>
        <div class="form-group" style="margin-left: auto; margin-top: 20px">
            <button type="submit" name="action" value="toSolver" style="font-size: 16px" class="btn btn-primary">Расчет</button>
        </div>

    }

    @*<a href="@Url.Action("Excel", "Home")">Скачать решение в Excel</a>*@
</body>
</html>